{% include '_partials/gzip.ninja' %}
{% include '_partials/acme_challenge.ninja' %}

{% include '_partials/locations/_global.jinja' %}
{% include '_partials/locations/_security_basics.jinja' %}
{% include '_partials/locations/_drupal_security.ninja' %}
{% include '_partials/locations/_drupal_fastcgi_docker.jinja' %}
