# http with www, redirect to https without www.
server {
  server_name www.{{ domain }};
  listen 80;
  http2 on;

  access_log off;
  {% include '_partials/error_log.ninja' %}
  {% include '_partials/ssl.ninja' %}
  {% include '_partials/acme_challenge.ninja' %}

  location / {
    return 301 https://$server_name$request_uri;
  }
}