{% include 'partials/redirects/http__https.jinja' %}

server {
  server_name {{ domain }};
  listen 443 ssl;
  listen [::]:443 ssl;
  http2 on;

  root {{ web_root|default('/srv/' ~ domain ~ '/web') }};

  {% include '_partials/ssl.ninja' %}
  {% include '_partials/acme_challenge.ninja' %}

  {% include '_partials/access_log.ninja' %}
  {% include '_partials/error_log.ninja' %}

  {% include '_partials/serve/drupal_fastcgi_docker.ninja' %}
}
