server {
  server_name {{ domain }};
  listen 80;
  listen [::]:80;

  root {{ web_root|default('/srv/' ~ domain ~ '/web') }};

  {% include '_partials/access_log.ninja' %}
  {% include '_partials/error_log.ninja' %}

  {% include '_partials/gzip.ninja' %}
  {% include '_partials/acme_challenge.ninja' %}

  {% include '_partials/serve/static.jinja' %}
}
